@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #F28705 30%, #F21905 );
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #F28705 50%, #F21905 50% );
  --vp-home-hero-image-filter: blur(50px);

  --swiper-pagination-color: #F28705;
  --swiper-pagination-bullet-inactive-color:#F25C05;

  --vp-nav-height: 64px;
  --header-height: 3rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/*button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*HOME*/
.home {

}
.blur-container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%,-50%);
}

.image-container {
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.banner-container {
  position: relative;
}
.clip {
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

.text2 {
  @apply text-sm text-gray2;
}
.main {
  padding-top: 20px;
}
.directions {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.button {
  @apply text-sm px-5 bg-black2 hover:bg-black3 text-sm py-0 border-gray3 hover:border-orangeNormal;
  border-radius: 20px;
  line-height: 38px;
}
.button.active {
  @apply bg-orangeNormal hover:bg-orangeLight hover:border-orangeLight;
  transition: 300ms;
}
.about {
  padding-top: 20px;
}
.about-text {
  @apply mb-4 text-sm text-gray2 text-start; 
  vertical-align: baseline;
  line-height: 1.42857;
}
.subtitle {
  @apply text-lg text-white text-start mb-2;
}
.about-image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border: 1px solid #213547;
  margin: auto;
}
.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.about-card {
  @apply bg-black2 hover:bg-transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  transition: 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-list, .services-list, .skills-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media screen and (min-width: 600px) {
  .projects-list, .services-list, .skills-list {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .projects-list, .services-list, .skills-list {
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
  }
}

.project-container {
  @apply bg-black2 hover:bg-transparent hover:border-orangeNormal;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
  margin-bottom: 1.5rem;
}
.project-image {
  border-radius: 1.5rem;
  overflow: hidden;
  display: inline-block;
}
.project-image img {
  object-fit: cover;
  width: 100%;
}
.project-title {
  @apply text-white text-lg text-start;
}
.project-text {
  @apply text-xs font-light text-start;
}

.service {
  @apply bg-black2 hover:bg-transparent border-orangeNormal mb-5;
  border-radius: 0 0 2rem 2rem;
  border-width: 1px;
  border-style: solid;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 400ms ease;
}
.service-header {
  @apply bg-orangeNormal;
  padding: 1rem 1.5rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}
.service .list {
  padding: 2rem;
}
.service li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.8rem;
}

.skills-card {
  @apply bg-black2 border-transparent hover:border-orangeNormal hover:bg-transparent;
  border-width: 1px;
  border-style: solid;
  transition: all 400ms ease;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  width: 100%;
}
.testimonials {
  width: calc(100vw - 4.5rem);
  margin: auto;
  max-width: 1440px;
}
@media screen and (min-width: 728px) {
  .testimonials {
    width: 100%;
  }
}
.section-container {
  width: 100%;
}
.testimonial {
  box-sizing: border-box;
  background-color: rgba(240, 91, 5, 0.6);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 2rem;
  -webkit-user-select: none;
  user-select: none;
}
.home {
  margin: auto;
}
.testimonials-container {
  /*max-width: 320px;*/
  padding-bottom: 4rem;
}

.avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid rgba(240, 91, 5, 0.6);
}

.details {
  @apply flex gap-2;
}
.testimonials, .services, .projects, .skills, .contact {
  margin-top: 4rem;
}

@media screen and (min-width: 728px) {
  .testimonials, .services, .projects, .skills, .contact {
    margin-top: 6rem;
  }
}
.contact {
  max-width: 800px;
  margin-inline: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form input, textarea {
  @apply border-orangeNormal text-sm;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  resize: none;
}
.footer {
  @apply relative border-black;
  padding: 32px 24px;
  border-width: 1px;
  border-style: solid;
}
.footer-message {
  @apply text-sm text-gray2;
}

.home-container {
  max-width: 1280px;
  margin:auto;
  padding: 2rem 1.5rem;
}
@media screen and (min-width: 600px) {
  .home-container {
    padding: 2rem;
  }
}

/*NAV*/
.main-header {
  --z-sticky: 50;
  --header-border: 1px solid rgba(255,255,255,0.25);
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-color:  #1d1d1f;
  z-index: var(--z-sticky);
}

.main-header .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .title {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.main-menu {
  --smaller-body-size: 0.75rem;
  list-style: none;
  font-size: var(--smaller-body-size);
}

.main-menu .link-nav {
  color: var(--text-color);
}

.main-menu .link-nav:hover {
  color: var(--accent-color-alt);
  text-decoration: none;
}

/* ----- Estilos para m칩vil ----- */
@media screen and (min-width: 734px) {
  .main-header {
      border-bottom: var(--header-border);
  }

  .main-header .right,
  .main-menu {
      gap: 1.5rem;
  }

  .main-menu {
      display: flex;
  }

  .menu-button {
      display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main-header .nav {
      /*max-width: calc(100% - 3rem);*/
      padding-inline: 1.5rem;
  }
}

/* Estilos para m칩vil */
@media screen and (max-width: 734px) {
  .main-header {
      --transition-menu: 500ms;
  }
  
  .main-header .nav {
      /*max-width: calc(100% - 2rem);*/
      padding-inline: 1rem;
  }

  .main-header .right {
      gap: 0.75rem;
  }

  .main-menu {
    --header-height: 3rem;
    --header-border: 1px solid rgba(255,255,255,0.25);
    --bg-color-alt: #1d1d1f;
    --z-negative: -1;
    position: absolute;
    top: var(--header-height);
    left: 0;
    padding: 0.25rem 2.5rem 1.5rem;
    width: 100%;
    border-bottom: var(--header-border);
    background-color: var(--bg-color-alt);
    
    /* Animation */
    transform: translateY(-100%);
    overflow: hidden;
    transition: transform var(--transition-menu) var(--transition-menu);
    z-index: var(--z-negative);
}

  .main-menu .item {
      transform: translateY(-100%);
      opacity: 0;
      transition: transform var(--transition-menu), opacity var(--transition-menu);
  }

  .main-menu .item:first-of-type {
      transition-delay: 70ms;
  }

  .main-menu .item:nth-of-type(2) {
      transition-delay: 140ms;
  }

  .main-menu .item:nth-of-type(3) {
      transition-delay: 210ms;
  }

  .main-menu .item:not(:last-of-type) {
      border-bottom: var(--header-border);
  }

  .main-menu .link-nav {
      display: block;
      padding-block: 0.85rem;
      opacity: 0.9;
  }

  .main-header .menu-button {
      position: relative;
      width: 2rem;
      height: 2rem;
      opacity: 0.8;
  }

  .main-header .menu-button:hover {
      opacity: 1;
  }

  .main-header .menu-button::before,
  .main-header .menu-button::after {
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 0.75rem;
      background-color: #fff;
      transition: transform 1000ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  .main-header .menu-button::before {
      left: 45%;
      transform: rotate(-40deg);
  }

  .main-header .menu-button::after {
      right: 45%;
      transform: rotate(40deg);
  }
  
  .main-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: opacity 1000ms 100ms;
      pointer-events: none;
      z-index: 9;
  }

  /* Menu activado */
  .main-header.is-active .main-menu {
      transform: initial;
      transition-delay: 0s;
  }

  .main-header.is-active .main-menu .item {
      opacity: initial;
      transform: initial;
  }

  .main-header.is-active .main-menu .item:first-of-type {
      transition-delay: 560ms;
  }
  
  .main-header.is-active .main-menu .item:nth-of-type(2) {
      transition-delay: 490ms;
  }

  .main-header.is-active .main-menu .item:nth-of-type(3) {
      transition-delay: 420ms;
  }

  .main-header.is-active ~ .main-overlay {
      opacity: 1;
      pointer-events: initial;
  }

  .main-header.is-active .menu-button::before {
      transform: rotate(40deg);
  }

  .main-header.is-active .menu-button::after {
      transform: rotate(-40deg);
  }
}

/* Correci칩n de fuente para tama침o desktop
@media screen and (min-width: 1024px) {
  .main-menu .item, .main-header .button {
      font-size: 12px;
  }
} */
.nav {
  position: relative;
  top: var(--vp-layout-top-height, 0px);
  left: 0;
  z-index: 10;
  width: 100%;
  /*pointer-events: none;*/
  transition: background-color .5s;
}
.nav.container {
  margin-inline: auto;
}
@media screen and (min-width: 1024px) {
  .nav.container {
    max-width: 1280px;
    padding-inline: 2rem;
  }
}
.navbar {
  position: relative;
  border-bottom: 1px solid transparent;
  padding: 0 8px 0 24px;
  height: var(--vp-nav-height);
  /*pointer-events: none;*/
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 32px 0 32px;
  }
}
.navbar-content-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(var(--vp-nav-height) - 1px);
  transition: background-color .5s;
}
.navbar-search {
  display: flex;
  align-items: center;
}
@media screen and (min-width:768px) {
  .navbar-search {
    flex-grow: 1;
    padding-left: 24px;
  }
}
.navbar-main {
  display: flex;
}
.link {
  @apply text-dimWhite2 flex;
  align-items: center;
  padding: 0 12px;
  line-height: 64px;
  font-size: 14px;
  font-weight: 500;
  transition: color .25s;
}
.button-tiny {
  color: #ffffff;
  --smaller-body-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  font-size: var(--smaller-body-size);
}
.contact-container {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media screen and (min-width:600px) {
  .contact-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    justify-content: space-between;
    gap: 6%;
    }
}
.contact-card {
  @apply bg-black2 hover:bg-transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  transition: 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .contact-card {
    grid-template-columns: 1fr;
    gap: .2rem;
  }
}
.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}