@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #F28705 30%, #F21905 );
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #F28705 50%, #F21905 50% );
  --vp-home-hero-image-filter: blur(50px);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*HOME*/
.home {

}
.blur-container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%,-50%);
}

.image-container {
  width: 220px;
  height: 220px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.banner-container {
  position: relative;
}
.clip {
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

.text2 {
  @apply text-sm text-gray2;
}
.main {
  padding-top: 20px;
}
.directions {
  padding-top: 20px;
}
.button {
  @apply text-sm px-5 bg-black2 hover:bg-black3 text-sm py-0 border-gray3 hover:border-orangeNormal;
  border-radius: 20px;
  line-height: 38px;
}
.button.active {
  @apply bg-orangeNormal hover:bg-orangeLight hover:border-orangeLight;
  transition: 300ms;
}
.about {
  padding-top: 20px;
}
.about-text {
  @apply mb-4 text-sm text-gray2 text-start; 
  vertical-align: baseline;
  line-height: 1.42857;
}
.subtitle {
  @apply text-lg text-white text-start mb-2;
}
.about-image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  border: 1px solid #213547;
}
.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.about-card {
  @apply bg-black2 hover:bg-transparent;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    transition: 400ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-container {
  @apply bg-black2 hover:bg-transparent;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.project-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.project-title {
  @apply text-white text-lg text-start;
}
.project-text {
  @apply text-xs font-light text-start;
}